<div class="w-full relative z-50 text-white">
  <div class="">
    <div
      class="lg:hidden flex justify-between items-center px-5 py-3 fixed w-full text-slate-800"
      [ngClass]="{ 'bg-white shadow-md': onScroll }"
    >
      <div class="flex items-center" routerLink="/">
        <img src="PSFLogo.png" alt="" class="w-[100px] mr-2" />
      </div>

      <div class="flex items-center">
        <div
          *ngIf="true"
          class="mr-3 cursor-pointer border rounded-full w-fit h-fit border-slate-200"
          routerLink="/admin/profile"
        >
          <img
            [src]="user.image != null ? user.image : defaultImg"
            alt=""
            class="w-[35px] h-[35px] rounded-full object-cover"
          />
        </div>
        <div class="p-2 cursor-pointer" (click)="openCloseNavOverlay()">
          <i class="fal fa-bars text-[20px]"></i>
        </div>
      </div>
    </div>

    <div *ngIf="routesArr.length != 0 && isNavOpen">
      <div
        class="bg-gray-600 opacity-20 w-full h-full fixed top-0"
        (click)="openCloseNavOverlay()"
      ></div>

      <div
        class="w-[300px] bg-white h-full fixed top-0 right-0 overflow-y-auto pb-10"
      >
        <div class="flex items-center justify-between p-5">
          <div class=""></div>
          <i
            class="fal fa-times text-[20px] cursor-pointer px-3 text-slate-800"
            (click)="openCloseNavOverlay()"
          ></i>
        </div>

        <div class="grid gap-1 mt-2 overflow-y-auto">
          <div class="grid gap-1 mt-6">
            <div
              *ngFor="let route of routesArr"
              class="text-slate-800 py-2 px-6 transition-all cursor-pointer border-l-4 border-white hover:text-gray-500 font-semibold grid grid-cols-[35px_1fr] items-center"
              [routerLink]="'/employer/' + route.route"
              (click)="getCurrentRouteURL(route.route); isNavOpen = false"
              [ngClass]="
                currentRoute == route.route
                  ? 'border-gray-500 text-gray-600'
                  : 'text-slate-800'
              "
            >
              <i [class]="route.icon"></i> {{ route.title }}
            </div>

            <button
              (click)="logout()"
              class="mx-auto flex justify-center items-center bg-gray-500 w-[80%] mt-5 h-[40px] p-2 rounded-full hover:bg-gray-500/80 transition-all cursor-pointer"
            >
              <i class="fad fa-sign-out mr-2"></i>
              <div class="">Logout</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="hidden lg:block fixed w-full bg-transparent z-20 text-white bg-black"
  >
    <div
      class="w-[calc(100%_-_280px)] flex justify-between items-center p-5 pb-3 bg-black"
    >
      <div class="flex items-center">
        <h1 class="mr-6 font-semibold">Employer Panel</h1>
      </div>

      <div class="flex items-center">
        <div
          class="flex items-center cursor-pointer hover:bg-gray-900 transition-colors py-2 px-2 pl-3 rounded-xl mr-2"
          routerLink="/employer/profile"
        >
          <h1 *ngIf="user.length != 0" class="font-semibold mr-2 capitalize">
            Hi, {{ user.name.split(" ")[0] }}
          </h1>
          <div *ngIf="user" class="w-fit h-fit rounded-full bg-gray-900">
            <img
              [src]="user.image != null ? user.image : defaultImg"
              alt=""
              class="w-[30px] h-[30px] object-cover rounded-full shadow-md"
            />
          </div>
        </div>

        <div
          (click)="logout()"
          class="bg-gray-900 w-[40px] h-[40px] p-2 rounded-full hover:bg-black-900/80 transition-all cursor-pointer grid place-items-center"
        >
          <i class="fad fa-sign-out"></i>
        </div>
      </div>
    </div>
  </div>
</div>
