<div class="relative z-40 mt-20 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-gray-900">About</h1>
    <p class="text-gray-800 text-[12px]">Information about the system</p>
  </div>

  <div class="mt-20 pb-10">- Our platform is a cutting-edge job management system designed to streamline the hiring process for employers. Built with Angular and PrimeNG, it offers a user-friendly interface for creating, managing, and tracking job postings. With features like skill-based filtering, real-time status updates, and a responsive design, we aim to connect employers with top talent efficiently and effectively. This system was developed as part of a collaborative effort to innovate recruitment technology, launched on March 7, 2025.
  </div>

  <hr />

  <div class="mt-24 pb-10">
    <h2 class="font-semibold text-lg md:text-xl mb-5 text-slate-800">
      Researchers/Programmers
    </h2>

    <div class="grid grid-cols-2 lg:flex gap-5">
      <div class="py-5 rounded-lg">
        <div
          class="w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200"
        >
          <img
            src="https://avatars.githubusercontent.com/u/89240695?v=4"
            alt=""
            class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          Shiela Mae Narido
        </h2>
      </div>

      <div class="py-5 rounded-lg">
        <div
          class="w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200"
        >
          <img
            src="https://avatars.githubusercontent.com/u/73870953?v=4"
            alt=""
            class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          Luigi Loreno
        </h2>
      </div>

      <div class="py-5 rounded-lg col-span-2">
        <div
          class="w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200"
        >
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
            class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          Christian Paranas
        </h2>
      </div>
    </div>
  </div>

  <hr />
</div>
