<div class="relative z-40 mt-10 pb-20">
  <div>
    <div>
      <div class="w-full h-[200px] md:h-[300px] bg-gray-400 rounded-xl"></div>
      <div
        class="py-5 rounded-lg grid place-items-center absolute top-24 md:top-44 ml-10"
      >
        <div class="w-fit rounded-full h-fit border-4 border-gray-200">
          <img
            [src]="
              profile.image ||
              'https://static.vecteezy.com/system/resources/previews/036/594/092/non_2x/man-empty-avatar-photo-placeholder-for-social-networks-resumes-forums-and-dating-sites-male-and-female-no-photo-images-for-unfilled-user-profile-free-vector.jpg'
            "
            alt="Profile picture"
            class="w-[150px] h-[150px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <div class="grid items-center">
          <h2
            class="text-center mt-4 font-bold text-[15px] md:text-[20px] text-black"
          >
            {{ profile.firstname + " " + profile.lastname || "Loading..." }}
          </h2>
        </div>
      </div>
    </div>
  </div>

  <hr class="mt-40" />

  <div class="mt-10 bg-white w-full">
    <div class="w-[400px] sm:w-full">
      <p-tabs
        [(value)]="selectedTabIndex"
        scrollable
        (onChange)="onTabChange($event)"
      >
        <p-tablist>
          @for(tab of tabs; track trackTabValue){
          <p-tab [value]="tab.value">
            {{ tab.title }}
          </p-tab>
          }
        </p-tablist>
        <p-tabpanels>
          @for(tab of tabs; track tab.value){
          <p-tabpanel [value]="tab.value">
            <ng-container *ngIf="tab.value == 0">
              <app-seeker-information></app-seeker-information>
            </ng-container>
            <ng-container *ngIf="tab.value == 1">
              <app-seeker-assessment-table></app-seeker-assessment-table>
            </ng-container>
            <!-- <ng-container *ngIf="tab.value == 3">
              <app-seeker-recommendation></app-seeker-recommendation>
            </ng-container> -->
          </p-tabpanel>
          }
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>
</div>
