<!-- seekers.component.html -->
<div class="mt-6 lg:mt-0 pb-10 text-[14px]">
  <!-- Search Input -->

  <div
    class="flex flex-col sm:flex-row justify-between items-center mb-6 gap-4"
  >
    <h1 class="text-2xl font-bold text-gray-800"></h1>

    <p-iconfield>
      <p-inputicon>
        <i class="pi pi-search"></i>
      </p-inputicon>
      <input
        type="text"
        pInputText
        (ngModelChange)="filterUsers()"
        (keydown.enter)="filterUsers()"
        (blur)="filterUsers()"
        [(ngModel)]="searchTerm"
        placeholder="Search by name or email"
      />
    </p-iconfield>
  </div>

  <p-toast position="bottom-right" key="br" />
  <p-confirmdialog />

  <p-table
    [columns]="cols"
    [value]="filteredUsers"
    showGridlines
    [paginator]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [rows]="5"
  >
    <ng-template #header let-columns>
      <tr class="p-3 bg-gray-800">
        <th *ngFor="let col of columns; trackBy: trackByField">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-rowData let-columns="columns">
      <tr class="border-b">
        <td *ngFor="let col of columns; trackBy: trackByField" class="p-3">
          <!-- Role Column -->
          <div *ngIf="col.field == 'role'">
            <p-chip
              [label]="rowData[col.field]"
              icon="pi pi-user"
              styleClass="text-[12px] uppercase bg-red-500"
            />
          </div>

          <!-- Status Column with Dynamic Colors -->
          <ng-container *ngIf="col.field === 'status'">
            <span
              class="text-xs font-semibold px-3 py-1 rounded-full"
              [ngClass]="{
                'bg-green-100 text-green-800': rowData[col.field] === 'active',
                'bg-red-100 text-red-800': rowData[col.field] === 'inactive',
                'bg-orange-100 text-orange-800': rowData[col.field] === 'suspended'
              }"
            >
              {{ rowData[col.field] === 'active' ? 'Active' : rowData[col.field] === 'inactive' ? 'Inactive' : 'Suspended' }}
            </span>
          </ng-container>

          <div *ngIf="col.field == 'createdAt'" class="">
            {{ rowData[col.field] | date : "mediumDate" }}
          </div>

          <div *ngIf="col.field == 'action'" class="">
            <p-menubar [model]="rowData['actionItems']" />
          </div>

          <div
            *ngIf="
              col.field != 'role' &&
              col.field != 'status' &&
              col.field != 'createdAt' &&
              col.field != 'action'
            "
          >
            {{ rowData[col.field] }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
