<div class="relative z-40 mt-20 pb-20">
  <div class="mb-5">
    <h1 class="font-bold text-xl md:text-3xl text-gray-900">Assessments</h1>
    <p class="text-gray-800 text-[12px]">
      Information about the system and available assessments
    </p>
  </div>

  <hr />

  <!-- General Assessments Section -->
  <div class="mb-6 mt-16">
    <h6 class="font-semibold text-xl text-gray-900">
      General Assessments
    </h6>
    <p class="text-sm text-gray-700">
      Assess your foundational skills applicable across various industries.
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-6">
      <p-card
        header="Basic Skills"
        subheader=""
        styleClass="card border border-gray-100"
      >
        <ng-template pTemplate="content">
          <div class="flex justify-center items-center">
            Evaluate your math, reading, and digital literacy.
          </div>
          <div class="flex justify-start mt-4">
            <p-button
              label="Start Assessment"
              icon="pi pi-arrow-right"
              size="small"
            />
          </div>
        </ng-template>
      </p-card>

      <p-card
        header="Cognitive Abilities"
        subheader=""
        styleClass="card border border-gray-100"
      >
        <ng-template pTemplate="content">
          <div class="flex justify-center items-center">
            Test your critical thinking, memory, and problem-solving skills.
          </div>
          <div class="flex justify-start mt-4">
            <p-button
              label="Start Assessment"
              icon="pi pi-arrow-right"
              size="small"
            />
          </div>
        </ng-template>
      </p-card>

      <p-card
        header="Soft Skills"
        subheader=""
        styleClass="card border border-gray-100"
      >
        <ng-template pTemplate="content">
          <div class="flex justify-center items-center">
            Assess your communication, adaptability, and teamwork abilities.
          </div>
          <div class="flex justify-start mt-4">
            <p-button
              label="Start Assessment"
              icon="pi pi-arrow-right"
              size="small"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="mb-6 mt-20">
    <h6 class="font-semibold text-xl text-gray-900">
      Career Assessments
    </h6>
    <p class="text-sm text-gray-700">
      Assess the specific skills needed for your chosen career path.
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-6">
      <p-card
        header="Industry-Specific Skills"
        subheader=""
        styleClass="card border border-gray-100"
      >
        <ng-template pTemplate="content">
          <div class="flex justify-center items-center">
            Assess your technical skills for specific industries.
          </div>
          <div class="flex justify-start mt-4">
            <p-button
              label="Start Assessment"
              icon="pi pi-arrow-right"
              size="small"
            />
          </div>
        </ng-template>
      </p-card>

      <p-card
        header="Career Pathway Competency"
        subheader=""
        styleClass="card border border-gray-100"
      >
        <ng-template pTemplate="content">
          <div class="flex justify-center items-center">
            Evaluate your readiness for advancing in a career.
          </div>
          <div class="flex justify-start mt-4">
            <p-button
              label="Start Assessment"
              icon="pi pi-arrow-right"
              size="small"
            />
          </div>
        </ng-template>
      </p-card>

      <p-card
        header="Workplace Readiness"
        subheader=""
        styleClass="card border border-gray-100"
      >
        <ng-template pTemplate="content">
          <div class="flex justify-center items-center">
            Assess your preparedness for the workplace environment.
          </div>
          <div class="flex justify-start mt-4">
            <p-button
              label="Start Assessment"
              icon="pi pi-arrow-right"
              size="small"
            />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>

  <hr />
</div>
