<div class="relative z-40 mt-20 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-gray-900">Dashboard</h1>
    <p class="text-gray-800 text-[12px]">Information about the system</p>
  </div>

  <hr class="my-4" />

  <div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
      <div class="bg-white shadow-md border border-slate-100 rounded-xl p-6">
        <h2 class="text-lg font-semibold text-gray-900">Total Users</h2>
        <p class="mt-2 text-3xl font-bold text-indigo-600">
          {{ stats.totalUsers }}
        </p>
      </div>
      <div class="bg-white shadow-md border border-slate-100 rounded-xl p-6">
        <h2 class="text-lg font-semibold text-gray-900">Employers</h2>
        <p class="mt-2 text-3xl font-bold text-indigo-600">
          {{ stats.employers }}
        </p>
      </div>
      <div class="bg-white shadow-md border border-slate-100 rounded-xl p-6">
        <h2 class="text-lg font-semibold text-gray-900">Job Seeker</h2>
        <p class="mt-2 text-3xl font-bold text-indigo-600">
          {{ stats.candidates }}
        </p>
      </div>
    </div>
  </div>

  <p-toast></p-toast>
</div>
