<div class="relative z-40 mt-20 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-gray-900">Dashboard</h1>
    <p class="text-gray-800 text-[12px]">Information about the system</p>
  </div>

  <hr class="my-4" />

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="bg-white shadow-sm border border-gray-100 rounded-xl p-5 hover:shadow-lg transition-all duration-200 hover:-translate-y-1 cursor-pointer">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
          <div class="bg-indigo-50 p-2 rounded-lg">
            <i class="fal fa-users text-indigo-600 text-xl"></i>
          </div>
          <h2 class="text-base font-medium text-gray-800">Total Users</h2>
        </div>
        <p class="text-6xl font-semibold text-indigo-600">{{ stats.totalUsers }}</p>
      </div>
    </div>
    <div class="bg-white shadow-sm border border-gray-100 rounded-xl p-5 hover:shadow-lg transition-all duration-200 hover:-translate-y-1 cursor-pointer">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
          <div class="bg-indigo-50 p-2 rounded-lg">
            <i class="fal fa-briefcase text-indigo-600 text-xl"></i>
          </div>
          <h2 class="text-base font-medium text-gray-800">Employers</h2>
        </div>
        <p class="text-6xl font-semibold text-indigo-600">{{ stats.employers }}</p>
      </div>
    </div>
    <div class="bg-white shadow-sm border border-gray-100 rounded-xl p-5 hover:shadow-lg transition-all duration-200 hover:-translate-y-1 cursor-pointer">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
          <div class="bg-indigo-50 p-2 rounded-lg">
            <i class="fal fa-user text-indigo-600 text-xl"></i>
          </div>
          <h2 class="text-base font-medium text-gray-800">Job Seekers</h2>
        </div>
        <p class="text-6xl font-semibold text-indigo-600">{{ stats.candidates }}</p>
      </div>
    </div>
  </div>
</div>
