/* You can add global styles to this file, and also import other style files */
@use "@ngxpert/hot-toast/styles";

@import "primeicons/primeicons.css";
/* Importing @ngxpert/hot-toast SCSS file. */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-white;
}

.p-menubar {
  display: grid !important;
  place-items: center !important;
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
