<div class="relative z-40 mt-2 pb-20">
  <div class="pb-4">
    <h5 class="font-bold text-xl md:text-xl text-gray-900">Recommended For You</h5>
  </div>

  <div class="mt-0 pb-10">
    <div class="grid grid-cols-3 gap-10">
      <div>
        <h6 class="font-bold text-gray-400 mb-2">People</h6>

        <div class="grid gap-6">
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h6 class="font-bold text-gray-400 mb-2">Courses</h6>

        <div class="grid gap-6">
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h6 class="font-bold text-gray-400 mb-2">Companies</h6>

        <div class="grid gap-6">
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
          <div class="grid grid-cols-[50px_1fr] gap-4">
            <div class="bg-gray-100 grid place-items-center"><i class="fal fa-user"></i></div>
            <div>
              <h6 class="font-bold">Christian Paranas</h6>
              <p class="text-[12px]">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
</div>
