<div class="relative min-h-fit h-screen md:overflow-y-scroll md:pt-12">
  <img
    src="PSFLogo.png"
    alt=""
    class="-left-[1000px] fixed -bottom-40 md:-left-20 opacity-5"
  />

  <div class="">
    <div class="max-w-7xl mx-auto grid lg:grid-cols-[1fr_400px] md:p-8 gap-10">
      <div class="hidden lg:block">
        <div class="p-4 rounded-md w-fit pr-6 min-h-[96px]">
          <img src="PSFLogo.png" alt="Logo" class="w-[400px]" />
        </div>
        <div class="mt-4">
          <h1 class="font-black text-3xl text-gray-900">
            Transform Your Future with Data and AI
          </h1>
          <p class="text-gray-600 mt-2 text-lg">
            Unlock endless possibilities with analytics, artificial intelligence, and cutting-edge technologies.
            Start your journey towards a brighter, data-driven career today.
          </p>
        </div>
      </div>

      <div
        class="relative p-6 pt-0 w-full md:w-[400px] mx-auto z-50 md:shadow-md lg:shadow-none rounded-md"
      >
        <div class="absolute top-0 left-0 w-full md:hidden mb-10 z-50 py-4">
          <div class="text-center w-fit mx-auto mt-4">
            <img src="PSFLogo.png" alt="Logo" class="w-[150px] mr-2" />
          </div>
        </div>

        <div class="mt-[100px] md:mt-4 mb-4">
          <h1 class="font-black text-gray-900 text-lg lg:text-3xl">Sign Up</h1>
        </div>

        <div class="card flex justify-center">
          <div pFocusTrap class="w-full flex flex-col gap-6">
            <p-iconfield>
              <p-inputicon>
                <i class="pi pi-user"></i>
              </p-inputicon>
              <input
                type="text"
                pInputText
                id="input"
                [(ngModel)]="name"
                type="text"
                placeholder="Name"
                [pAutoFocus]="true"
                [fluid]="true"
              />
            </p-iconfield>

            <p-iconfield>
              <p-inputicon>
                <i class="pi pi-envelope"> </i>
              </p-inputicon>
              <input
                type="text"
                pInputText
                id="email"
                [(ngModel)]="email"
                type="email"
                placeholder="Email"
                [fluid]="true"
              />
            </p-iconfield>

            <p-password
              [(ngModel)]="password"
              [toggleMask]="true"
              inputStyleClas="w-full"
              placeholder="Password"
              [inputStyle]="{'width':'100%'}"
              styleClass="w-full"
            />

            <div class="flex items-center gap-2">
              <p-checkbox
                id="accept"
                [(ngModel)]="accept"
                name="accept"
                value="Accept"
              />
              <label for="accept">I agree to the terms and conditions.</label>
            </div>

            <p-button
              type="submit"
              label="Sign Up"
              class="mt-2"
              styleClass="w-full"
            />

            <div class=" text-center text-gray-500">
              <p>
                Already have an account?
                <span class="text-gray-900 cursor-pointer" routerLink="/login"
                  >Login</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
